/* This file will be included on every page  */
body{
  background-color: #f9f9f9 !important;
}

.top-nav{
  position: fixed;
  width: 100%;
  padding-right: 10%;

  z-index: 2;
  padding-left: 30px;
  text-decoration: underline;

  -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.45);
  -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.45);
  box-shadow: 0 5px 5px rgba(182, 182, 182, 0.45);

}

.nav-link{
  color: black !important;
  font-size: 21px !important;
}

.navbar-brand{
  font-size: 25px !important;
}

.container{
  padding: 15px;
  padding-bottom: 100px;
}

/* Appling img fluid + paddings to every image on page */
img{
  max-width: 100%;
  height: auto;
}

.heading{
  margin-top: 100px;
  font-weight: 600;
  margin-bottom: 60px;
}
