{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %} template-blogindexpage {% endblock %}

<!-- Extra css -->
{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static "blog/css/homepage.css" %}"/>
{% endblock %}

<!-- Body -->
{% block content %}

  <div class="page-container">

      <div class="row">
      </div>

      <main>
        {% with blocks=self.body %}
          {% for block in blocks %}
              {% if block.block_type == 'heading' %}
                <header class="row">
                  <h2 class="heading col-12"> {{ block.value }} </h2>
                </header>
              {% elif block.block_type == 'image' %}
                {% image block.value original as image %}
                <div class="row">
                  <img src="{{image.url}}" class="single-image" />
                </div>
              {% else %}
                 <section class="block-{{ block.block_type }} row">
                   {{ block }}
                 </section>
              {% endif %}
          {% endfor %}
        {% endwith %}
      </main>

    </div>

    {% include 'blog/apply_lightbox_to_images.html' %}

{% endblock %}
