{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %} template-blogindexpage {% endblock %}

<!-- Extra css -->
{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static "blog/css/blog_page.css" %}"/>
{% endblock %}

<!-- Body -->
{% block content %}

    <div class="row">
    </div>

    <!-- Blocks, accutaly main content here -->
    <main class="post-body">
      {% for block in page.body %}

        {% if block.block_type == 'heading' %}
          <header class="row">
            <h2 class="heading col-12">{{ block.value }}</h2>
          </header>
        {% elif block.block_type == 'image' %}
          {% image block.value original as image %}
          <div class="row">
            <img src="{{image.url}}" class="single-image" />
          </div>
        {% elif block.block_type == 'gallery' %}
        <!-- Gallery will be moved to separate page -->
        {% else %}
          <section class="block-{{ block.block_type }}">
            {{ block }}
          </section>
        {% endif %}

      {% endfor %}
    </main>
    <div style="clear: both;"></div>

    <!-- Categories -->
    <section class="categories row">
      {% with categories=page.categories.all %}
        {% if categories %}
          <h3 class="col-12"> Categories of this post are: </h3>
            {% for category in categories %}

              <li style="display: inline" class="col-12 col-md-6 col-lg-4 category">

                  {% image category.icon fill-48x48 style="vertical-align: middle" class="no-single-lightbox" %}
                  <b> {{ category.name }} </b>

              </li>
            {% endfor %}
        {% endif %}
      {% endwith %}
    </section>

    <!-- Tags -->
    <section class="tags row">
      <div class="tags-wrapper col-12">
        {% if page.tags.all.count %}
          <h3>Tags</h3>
          {% for tag in page.tags.all %}
            <span class="tag">
              #{{ tag }}
            </span>
          {% endfor %}
        {% endif %}
      </div>
    </section>



    <section class="comments row">
      <div class="col-12">
        {% include 'blog/comments.html' with blog=blog %}
      </div>
    </section>



{% include 'blog/apply_lightbox_to_images.html' %}

{% endblock %}
