{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %} template-blogindexpage {% endblock %}

{% block content %}

    <a href="{{ page.get_parent.url }}"> Return to index </a> <br/>
    <h1>{{ page.title }}</h1>

    <!-- Categories -->
    {% with categories=page.categories.all %}
      {% if categories %}
          <h3> Category of this post is: </h3>
          <ul>
              {% for category in categories %}
                  <li style="display: inline">
                      {% image category.icon fill-32x32 style="vertical-align: middle" %}
                      {{ category.name }}
                  </li>
              {% endfor %}
          </ul>
      {% endif %}
    {% endwith %}

    <!-- Tags -->
    {% if page.tags.all.count %}
      <div class="tags">
          <h3>Tags</h3>
          {% for tag in page.tags.all %}
              <a href="#"> {{ tag }} </a>
          {% endfor %}
      </div>
    {% endif %}

    <!-- Blocks, accutaly main content here -->
    <main>
      {% for block in page.body %}

        {% if block.block_type == 'heading' %}
          <header class="header">
            <h2>{{ block.value }}</h2>
          </header>
        {% elif block.block_type == 'image' %}
          <div class="image container">
          </div>
        {% elif block.block_type == 'gallery' %}

          <div class="image_gallery_container">
            {% if block.value %}
              {% for image_instance in block.value %}
                {% if image_instance.block_type == 'image' %}

                    {% image image_instance.value fill-1000x1000 as img %}
                    {% image image_instance.value fill-200x200 as img_miniature %}
                    <img class="gallery_image" src="{{ img_miniature.url }}" width="250" height="250"
                      data-imagebox="gallery" data-imagebox-src="{{ img.url }}">

                {% endif %}
              {% endfor %}
            {% endif %}
          </div>

        {% else %}
          <section class="block-{{ block.block_type }}">
            {{ block }}
          </section>
        {% endif %}

      {% endfor %}
    </main>



{% endblock %}
