{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %} template-blogindexpage {% endblock %}

<!-- Extra css -->
{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static "blog/css/homepage.css" %}"/>
{% endblock %}

<!-- Body -->
{% block content %}

  <div class="page-container">

      <div class="row">
      </div>

      <main>
        {% with blocks=self.body %}
          {% for block in blocks %}
              {% if block.block_type == 'heading' %}
                <header class="row">
                  <h1 class="heading col-12"> {{ block.value }} </h1>
                </header>
              {% elif block.block_type == 'image' %}
                {% image block.value original as image %}
                <div class="row">
                  <img src="{{image.url}}" class="single-image col-12" />
                </div>
              {% else %}
                 <section class="block-{{ block.block_type }} row">
                   {{ block }}
                 </section>
              {% endif %}
          {% endfor %}
        {% endwith %}
      </main>

      <div class="blog-posts-spacer">
        <h2> Below you can look at my posts: </h2>
      </div>

      <div class="row posts">
        {% for post in page.get_children.specific %}

          <!-- Preventing showing contact and about pages as one of posts -->
          {% if post.url == "/contact/" or post.url == "/about/" %}
          {% else %}
            <a href="{% pageurl post %}" class="post col-12 col-sm-6 col-lg-3">
              <header class="col-12 post-header">
                <h4> {{ post.title }} </h4>
              </header>
              {% image post.miniature fill-1000x1000 as miniature %}
              <img src="{{ miniature.url }}" class="no-single-lightbox" />
            </a>

            <!-- Blocks if needed -->
            {% for block in post.body %}
            {% endfor %}
          {% endif %}

        {% endfor %}
      </div>

    </div>

    {% include 'blog/apply_lightbox_to_images.html' %}

{% endblock %}
