{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %} template-blogindexpage {% endblock %}

{% block content %}

    <div class="row">
    </div>

    <!-- Blocks, accutaly main content here -->
    <main class="post-body">
      {% for block in page.body %}

        {% if block.block_type == 'heading' %}
          <header class="row">
            <h2 class="heading">{{ block.value }}</h2>
          </header>
        {% elif block.block_type == 'image' %}
          {% image block.value original as image %}
          <div class="row">
            <img src="{{image.url}}" class="single-image" />
          </div>
        {% elif block.block_type == 'gallery' %}

          <div class="image-gallery-container row">
            <h3 class="col-12"> Gallery: </h3>
            {% if block.value %}
              {% for image_instance in block.value %}
                {% if image_instance.block_type == 'image' %}

                    <div class="image-wrapper col-4">
                      {% image image_instance.value original as img %}
                      {% image image_instance.value fill-1000x1000 as img_miniature %}
                      <img class="no-single-lightbox gallery-image" src="{{ img_miniature.url }}"
                        data-imagebox="gallery" data-imagebox-src="{{ img.url }}">
                    </div>

                {% endif %}
              {% endfor %}
            {% endif %}
          </div>

        {% else %}
          <section class="block-{{ block.block_type }}">
            {{ block }}
          </section>
        {% endif %}

      {% endfor %}
    </main>

    <!-- Categories -->
    <section class="categories row">
      {% with categories=page.categories.all %}
        {% if categories %}
          <h3 class="col-12"> Category of this post is: </h3>
            {% for category in categories %}
              <li style="display: inline" class="col-12 category">
                  {% image category.icon fill-48x48 style="vertical-align: middle" class="no-single-lightbox" %}
                  <b> {{ category.name }} </b>
              </li>
            {% endfor %}
        {% endif %}
      {% endwith %}
    </section>

    <!-- Tags -->
    <section class="tags row">
      <div class="col-12">
        {% if page.tags.all.count %}
          <h3>Tags</h3>
          {% for tag in page.tags.all %}
            <a href="#"> #{{ tag }} </a>
          {% endfor %}
        {% endif %}
      </div>
    </section>



    <section class="comments row">
      <div class="col-12">
        {% include 'blog/comments.html' with blog=blog %}
      </div>
    </section>



{% include 'blog/apply_lightbox_to_images.html' %}

{% endblock %}
