{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %} template-blogindexpage {% endblock %}

<!-- Extra css -->
{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static "blog/css/contact.css" %}"/>
{% endblock %}

<!-- Body -->
{% block content %}

  <div class="page-container">

    <div class="row"></div>

    {% with blocks=self.body %}
      {% for block in blocks %}
          {% if block.block_type == 'heading' %}
            <header class="row">
              <h2 class="heading col-12"> {{ block.value }} </h2>
            </header>
          {% elif block.block_type == 'image' %}
            {% image block.value original as image %}
            <div class="row">
              <img src="{{image.url}}" class="single-image" />
            </div>
          {% else %}
             <section class="block-{{ block.block_type }} row">
               {{ block }}
             </section>
          {% endif %}
      {% endfor %}
    {% endwith %}


    <!-- Socials -->
    <section class="socials row">
      {% with socials=page.socials.all %}
        {% if socials %}
            {% for social in socials %}

              <div class="offset-1 offset-sm-0 spacer"></div>

              <a href="{{social.link}}" class="social-wrapper col-10 col-sm-5 offset-sm-1" target="_blank">

                  {% image social.icon original style="vertical-align: middle" class="no-single-lightbox social-icon" %} <br/>
                  <b class="social-name"> {{ social.name }} </b>

              </a>

              <div class="offset-1 offset-sm-0 spacer"></div>



            {% endfor %}
        {% endif %}
      {% endwith %}
    </section>

  </div>

{% endblock %}
