
/* Blog post */

.categories{
  margin-top: 50px;
}

.tags{
  margin-top: 45px;
  margin-bottom: 60px;
  font-size: 21px;
}

.image-wrapper{
  display: inline-block;
  padding: 2px;
}

.category{
  margin-top: 15px;
  font-size: 20px;
}

.category > img{
  margin-right: 5px;
}

.tag{
  text-decoration: underline;
  color: #007bff;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .categories{
    margin-top: 75px;
  }
}

@media screen and (min-width: 992px) {
  .categories{
    margin-top: 125px;
  }

  .category{
    margin: 0;
    padding: 0;
  }

  .heading{
    margin-top: 160px;
  }

}
