
/* Blog post */

.categories{
  margin-top: 50px;
}

.image-gallery-container{
  margin-top: 40px;
  margin-bottom: 25px;
}

.tags{
  margin-top: 45px;
  margin-bottom: 60px;
  font-size: 21px;
}

.image-wrapper{
  display: inline-block;
  padding: 2px;
}

.category{
  margin-top: 15px;
  font-size: 20px;
}

.category > img{
  margin-right: 5px;
}
