/* Contact */
.socials{
  font-size: 25px;
  text-align: center;
  margin-top: 60px;
}

.social-wrapper > a{
  color: inherit;
}

.social-wrapper{
  margin-top: 20px;
}

.social-icon{
  height: 40px !important;
  width: auto !important;
  display: inline-block;
}

.social-name{
  display: inline-block;
  margin: 20px 35px;
}
