/* Contact */
.socials{
  font-size: 27px;
  text-align: center;
}

.social-icon{
  height: 40px !important;
  width: auto !important;
  display: inline-block;
}

.social-name{
  display: inline-block;
  margin: 10px 25px;
}

.social-wrapper{
  padding-top: 12%;
  padding-bottom: 12%;

  margin-top: 50px;

  color: inherit;
  text-decoration: none !important;

  -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.45);
  -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.45);
  box-shadow: 0 5px 5px rgba(182, 182, 182, 0.45);
}

.block-paragraph{
  font-size: 22px;
}

@media screen and (min-width: 576px) {
  .block-paragraph{
    font-size: 25px;
  }
  .socials{
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .heading{
    font-size: 37px;
  }
  .socials{
    font-size: 32px;
    margin-top: 60px;
  }
  .block-paragraph{
    font-size: 25px;
  }
}

@media screen and (min-width: 992px) {

  .social-wrapper{
    padding-top: 6%;
    padding-bottom: 2%;
  }
  .nav-item{
    margin: auto 10px;
  }

  .nav-link{
    margin-top: 0 !important;
  }

  .social-icon{
    margin: 0;
  }

}
