/* Homepage */
.page-container{
  padding: 15px;
}

.block-paragraph{

}

.blog-posts-spacer{
  margin-bottom: 40px;
  margin-top: 70px;
}

.post{
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
  margin-top: 45px;
}

.post-header{

}

.single-image{
  margin-bottom: 40px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .page-container{
    padding: 35px;
  }
}

@media screen and (min-width: 992px) {
  
}
