/* Homepage */
.page-container{
  padding: 15px;
}

.block-paragraph{

}

.blog-posts-spacer{
  margin-bottom: 40px;
}

.post{
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
  margin-top: 45px;
}

.post-header{
  margin-bottom: 8px;
}

.single-image{
  margin-bottom: 40px;
  margin-top: 10px;
}
